<% content_for :hero_title, "Find a Rental".html_safe %> <!-- Hero/Page Title -->
<% content_for :lede, "Search for a rental at Rocky Point".html_safe %>
<section id="property-list" class="padded-top scallop-top beige-bg">
  <div class="layout-container">
    <div class="property-search">
      <%= form_tag("/accommodations", {method: 'get', class: 'gw no-gutter'}) do %>
        <fieldset class="g two-ninths">
          <label class="is-visually-hidden">Where are you going?</label>
          <div class="select-style">
            <%- areas_options = [['Where are you going?', '-', {disabled: 'disabled'}], ['Any', 'all']] + areas.map { |v| [v[:name], v[:key]] } %>
            <%= select_tag "area", options_for_select(areas_options, @area) %>
          </div>
        </fieldset>
        <fieldset class="g sm-one-third md-one-eighth">
          <%= text_field_tag "start_date", @start_date, class: 'no-borders datepicker', placeholder: 'Arrive' %>
        </fieldset>
        <fieldset class="g sm-one-third md-one-eighth">
          <%= text_field_tag "end_date", @end_date, class: 'no-borders datepicker', placeholder: 'Depart' %>
        </fieldset>
        <fieldset class="g sm-one-third md-one-eighth">
          <label class="is-visually-hidden" for="guests">Guests</label>
          <div class="select-style">
            <%- guest_options = [['Guests', '-', {disabled: 'disabled'}], ['Any', 'all']] + (1..10).map { |v| [v, v] } %>
            <%= select_tag "guests", options_for_select(guest_options, @guests) %>
          </div>
        </fieldset>
        <fieldset class="g sm-one-third md-one-eighth">
          <div class="select-style">
            <%- beach_options = [['Beach', nil], ['Yes', true], ['No', false]] %>
            <%= select_tag 'beach', options_for_select(beach_options, @beach) %>
          </div>
        </fieldset>
        <fieldset class="g sm-one-whole md-one-eighth">
          <label class="is-visually-hidden" for="sort">Sort by</label>
          <div class="select-style">
            <%- sort_options = [['Sort by', '-', {disabled: 'disabled'}]] + sort_by %>
            <%= select_tag "sort", options_for_select(sort_options, @sort) %>
          </div>
        </fieldset>
        <footer class="g" style="width: 15.2%;">
          <input class="btn btn--green no-min-width max-width" type="submit" value="Search">
        </footer>
      <%- end %>
    </div>
  </div>
  <%- if @units.empty? %>
    <div class="layout-container-smaller padded-bottom layout-centered">
      <h1>No available rental properties found</h1>
      <p>Please adjust your search and try again.</p>
    </div>
  <%- else %>
    <div class="layout-container">

      <table id="properties-table">
        <colgroup>
          <col style="width: 20%"/>
          <col style="width: 19%"/>
          <col style="width: 15%"/>
          <col style="width: 8%"/>
          <col style="width: 8%"/>
          <col style="width: 11%"/>
          <col style="width: 8%"/>
          <col style="width: 11%"/>
        </colgroup>
        <thead>
          <th>Preview</th>
          <th>Property</th>
          <th>Location</th>
          <th>Beds</th>
          <th>Baths</th>
          <th>Occupancy</th>
          <th>Beach</th>
          <th>Type</th>
        </thead>
        <tbody>
          <% @units.each do |unit| %>
            <% full_link = accommodation_url(unit.code) + "?start_date=#{@start_date}&end_date=#{@end_date}&guests=#{@guests}" %>
            <tr class="property">
              <td><a href="<%= full_link %>"><img src="<%= fetch_image unit %>"/></a></td>
              <td><a href="<%= full_link %>" class="property__name"><%= fetch_name unit %></a></td>
              <td><%= unit.address.street %></td>
              <td><%= unit.bedrooms %></td>
              <td><%= unit.bathrooms %></td>
              <td class="property__occupancy"><%= unit.occupancy %></td>
              <td><%= t unit.beachfront.to_s %></td>
              <td><%= unit.type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%- end %>
  </div>
</section>
