<% content_for :hero_title, "Testimonials".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="padded-top padded-bottom scallop-top">
    <div class="layout-container">
        <ul class="testimonials normal gw large-gutter">
            <%- @reviews[0..1].each do |review| %>
            <li class="g sm-one-half">
                <blockquote>
                    <img class="img-circle persons-image" src="http://lorempixel.com/400/400/people/1">
                    <p class="persons-words">“<%= review[:comment].html_safe %></p>
                    <%- unless review[:city].empty? || review[:state].empty? %>
                    <span class="persons-name"><%= review[:city] %>, <%= review[:state] %></span>
                    <% end %>
                </blockquote>
            </li>
            <%- end %>
        </ul>
    </div>
    <div class="testimonials featured">
        <div class="layout-container">
            <%- @reviews[2].tap do |review| %>
            <blockquote>
                <p class="persons-words">“<%= review[:comment].html_safe %></p>
                <%- unless review[:city].empty? || review[:state].empty? %>
                <span class="persons-name"><%= review[:city] %>, <%= review[:state] %></span>
                <% end %>
            </blockquote>
            <%- end %>
        </div>
    </div>
    <div class="layout-container padded-top">
        <ul class="testimonials normal gw large-gutter">
            <%- @reviews[2..5].each do |review| %>
            <li class="g sm-one-half">
                <blockquote>
                    <img class="img-circle persons-image" src="http://lorempixel.com/400/400/people/1">
                    <p class="persons-words">“<%= review[:comment].html_safe %></p>
                    <%- unless review[:city].empty? || review[:state].empty? %>
                    <span class="persons-name"><%= review[:city] %>, <%= review[:state] %></span>
                    <% end %>
                </blockquote>
            </li>
            <%- end %>
        </ul>
    </div>
</section>
